body {
    background-color: #3c1632;
}

#start-page,
#details-page,
#search-page {
    display: none;
}

#start-page.open,
#details-page.open,
#search-page.open {
    display: block;
}

.link {
    cursor: pointer;
}
